<div class="fixed-button">
    <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
  </div>
  <!-- *******************************button******************************************  -->
<div class="careers">
    <div class="container-fluid banner">
        <h1 class="service-title">
         Careers
        </h1>
        <img src="../../assets/hitech_images/images/slider_2.png" alt="">
    </div>
    <div class="container">
        <div class="career-text">
            <h4 class="text-left">Auto Technician</h4>
        </div>
        <div class="career-list">
            <div class="circle-rotate">
                <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
              </div>
              <div class="crystal">
                <img src="../../assets/hitech_images/images/crystal.png" alt="">
        
            </div>
            <p>
                We are seeking a motivated and driven technician to join our team! You must have your own tools as
                well as a reliable means of transportation to and from the workplace. At least five years experience
                working in the professional automotive repair industry is mandatory. Candidates with ASE certification
                will be preferred.
                <br>
                What to expect: your primary responsibilities as a technician:<br>
                </p>
                <ul>
                    <li>Be on time, ready to work, and in a clean uniform.</li>
                    <li>Remain friendly and courteous to all clients you are in contact with.</li>
                    <li>Be on time, ready to work, and in a clean uniform.</li>
                    <li>
                        Accurately and honestly troubleshoot client concerns using the technical and administrative
                        resources provided.
                    </li>
                    <li>
                        When present in the front office, act as an auxiliary greeter to clients that have not yet been
                        welcomed.
                    </li>
                    <li>
                        Remain current with any and all technical publications, Service Comm, and Assist terminal
                        operations.
                    </li>
                    <li>
                        Make every effort, within reason, to provide safe and honest vehicle service and repair as
                        promised upon the client’s first visit.
                    </li>
                    <li>
                        Attend to all original client concerns prior to recommending additional repairs or maintenance.
                    </li>
                    <li>
                        Inspect every vehicle for further sales potential, ie: necessary maintenance due by factory
                        recommendations, and /or any repairs that may be required soon.
                    </li>
                    <li>
                        Return clients’ vehicles as clean or cleaner than when it first arrived.
                    </li>
                    <li>
                        Take part in any sponsored training programs available to you.
                    </li>
                    <li>
                        Fill out all paperwork accurately and completely as well as ensure all forms pertaining to the
                        vehicle are kept together and returned to the front office.
                    </li>
                    <li> Address any further duties assigned by the service manager or shop foreman</li>
                </ul>
                <span style="font-weight:600">Minimum Requirements:</span>
                <ul>
                    <li>
                        Valid State driver’s license with good driving record.
                    </li>
                    <li>
                        At least five years experience working in the professional automotive repair industry.
                    </li>
                    <li>
                        Experience performing warranty and non-warranty repairs, inspections, diagnostics, and
                        maintenance services on a variety of vehicle makes and models.
                    </li>
                    <li>
                        First-rate customer service skills as well as general communication skills.
                    </li>
                    <li>
                        Exceptional attention to detail, ability to read and comprehend instructions, critical thinking
                        skills, ability to exercise good judgement in a variety of professional situations.
                    </li>
                    <li>
                        Strong work ethic, with a proven record of achieving and/or over-achieving goals set out before
                        you.
                    </li>
                    <li>
                        Professional appearance, ie, clean uniform and body, well groomed.
                    </li>
                    <li>Positive attitude, high-energy, and amiable personality!</li>
                </ul>
        </div>
        <form class="apply-job">
            <h4 class="font-weight-bold text-center text-danger">Apply Here</h4>
            <div>
                <div class="settings">
                    <div class="line1 ">
                    </div>
                    <img src="../../assets/hitech_images/images/setting.png">
                    <div class="line2 ">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center form-group">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="font-weight-bold" required="required">Name</label><span class="text-danger">*</span>
                        <input type="text" name="Name" class="form-control" aria-describedby="Name" placeholder="Full Name">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center form-group">
                <div class="col-md-4">
                    <label class="font-weight-bold"> Email</label><span class="text-danger">*</span>
                    <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="Email">
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold lastnamelables">Mobile</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" id="txtMobile" placeholder="Mobile Number" name="MobileNo" maxlength="10">
                </div>
            </div>
            <div class=" row justify-content-center">
                <div class="col-md-8 form-group">
                    <label class="font-weight-bold">Message</label><span class="text-danger">*</span>
                    <textarea placeholder="Type Here!!!" class="form-control" id="txtMessege" rows="3" name="Message"></textarea>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label for="inputfile"><i class="fa fa-folder-open-o"></i> Cv ( resume ) </label><span class="text-danger">*</span>
                        <input type="file" id="exampleInputFile" name="resume">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" >
                    Submit
                </button>
            </div>
            <div id="loading" style="display: none;">
                <img id="loading-image" src="https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif" alt="Loading...">
            </div>
        </form>
    </div>
    <div class="container friendly-service">
    <div class="row mt-5">
        <div class="text-center">
            <h4 class="font-weight-bold text-center mt-3 mb-3 contact_headeing" style="font-size: 26px;">Local Auto Repair with Friendly Service</h4>
            <p class="quality-repair">We know that you need excellent quality repairs and that you want friendly service. Our staff of highly trained service advisors and technicians is here to help. We have a real love for our profession and our community, so come see how our local auto repair shops can resolve your questions and meet your auto repair and service needs. We are committed to ensuring that your experience with us is fast, affordable, and pleasant.</p>

        </div>
    </div>
</div>
    </div>
