.fixed-button{
    position: relative;
    .btn-fix{
      position: absolute;
      top: 320px;
      right:-75px;
      z-index: 1000;
      position: fixed !important;
      transform: rotate(270deg);
      padding: .5rem 1.6rem;
    }
  }
  // ...........fixed button styles........ 
.careers{
    .banner{
        position: relative;
        padding: 0px !important;
        margin: 0px !important;
    
        .service-title{
            position: absolute;
            color: #ffffff;
            margin-top: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px !important;
            font-weight: 600;
            left: 50%;
            top: 50%;
        }
        img{
            width: 100%;
            height:600px;
            object-fit: fill;
        }
    }
    .container{
        .career-text{
            h4{
                color: #323ad1;
                margin-top: 20px;
                font-family: 'Times New Roman', Times, serif;

                font-size: 25px !important;
                padding-left: 8rem !important;
            }

        }
        .career-list{
          .circle-rotate{
            position: relative;
            img{
              position: absolute;
              top: 100px;
              left: -150px;
              width:108px ;
              height:128px ;
              
              animation: mymove 10s infinite;
            }
            .rotate {
            }
            
            @keyframes mymove {
              50% {transform: rotate(360deg);}
            }
          }
          .crystal{
            position: relative;
            img{
              animation: rotation  infinite;
              position: absolute;
              top: 600px;
              left: -150px;
              width:108px ;
              height:128px ;
              animation: mymove 10s infinite;
        
            }
          }
          ////////////animation
            margin: 20px 100px;
            p{
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                line-height: 25px;
            }
            ul{
                margin-bottom: 1rem;
            }

        }
        .apply-job{
            h4{
                color: #323ad1;
                font-family: 'Times New Roman', Times, serif;

                font-size: 25px !important;
                padding-top: 1rem;
            }
            .settings{
                .line1{
                    margin-left: 43%;
                    border: 1px solid grey;
                    border-radius: 5px;
                    margin-bottom: 2px;
                    width: 5%;
                    margin-top: -10px;
                    left: 42%;
                    display: inline-block;
                }
                .line2{
                    border: 1px solid grey;
                    border-radius: 5px;
                    margin-bottom: 2px;
                    width: 5%;
                    top: -5px;
                    left: 43%;
                    display: inline-block;
                    margin-left: 0%;
                }
            }
            .row{
                .form-group{
                    margin-bottom: 2rem;
                }
                button{
                    background-color: #dc3545;
                    color: #fff;
                    width: 106px;
                    padding: 6px 15px 7px 12px;
                    border: none;
                }
            }
        }
    }
        .friendly-service{
            .row{
                h4{
                    color: #323ad1;
                    font-family: 'Times New Roman', Times, serif;

                    font-size: 25px !important;
                    padding-top: 1rem;  
                }
                p{
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    line-height: 25px;
                    margin-bottom:1rem;
                    margin-left: 100px;
                    margin-right: 100px;
                }
            }

        }
    
}



// .........MEDIA QUERIES............ 
  // ...........Media Query ........
  // ...........MOBILE RESP ........
  @media screen and (min-width: 320px) and (max-width: 480px){
    .fixed-button{
      .btn-fix{
        right:-60px;
      }
    }
    .careers{
      .banner{
        .service-title{
          font-size: 16px;
          top: 100px;
          left: 100px;
        }
        img{
          width: 100%;
          height: 220px !important;
        }
      }
      .car-services {
        .container-fluid {
          .row {
            .book {
              background-image: none;
              background-color: blue !important;
              h5 {
                padding-left: 0rem;
                font-size: 14px;
              }
              p {
                padding-left: 0rem;
              }
              .booknow {
                margin: 10px 5px;
              }
            }
          }
        }
      }
      .container{
        .career-text{
            h4{
                padding-left: 1rem !important;
            }
        }
        .career-list{
            margin: 20px 25px;
        }
        }
        .friendly-service{
            .row{
                .quality-repair{
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-bottom: 1rem;
                }
                }
            }
    }
}
      
      // .............Tablet..................... 
      @media screen and (min-width: 481px) and (max-width: 768px){
        .careers{
            .banner{
              .service-title{
                font-size: 16px;
                top: 80px;
                left: 300px;
              }
              img{
                width: 100%;
                height: 220px !important;
              }
            }
            .car-services {
              .container-fluid {
                .row {
                  .book {
                    background-image: none;
                    background-color: blue !important;
                    h5 {
                      padding-left: 0rem;
                      font-size: 14px;
                    }
                    p {
                      padding-left: 0rem;
                    }
                    .booknow {
                      margin: 10px 5px;
                    }
                  }
                }
              }
            }
            .container{
              .career-text{
                  h4{
                  
                      padding-left: 1rem !important;
                  }
      
              }
              .career-list{
                  margin: 20px 25px;
              }
              }
              .friendly-service{
                  .row{
                      .quality-repair{
                          margin: 0px !important;
                          margin-left: 0px;
                          margin-right: 0px;
                          padding-bottom: 1rem;
                      }
                      }
                  }
          }
      }
    // ...............laptop................. 
    @media screen and (min-width: 769px) and (max-width: 1024px){
        .careers{
            .banner{
              .service-title{
                font-size: 16px;
                top: 50%;
                left: 50%;
              }
              img{
                width: 100%;
                height: 450px !important;
              }
            }
            .car-services {
              .container-fluid {
                .row {
                  .book {
                    background-image: none;
                    background-color: blue !important;
                    h5 {
                      padding-left: 0rem;
                      font-size: 14px;
                    }
                    p {
                      padding-left: 0rem;
                    }
                    .booknow {
                      margin: 10px 5px;
                    }
                  }
                }
              }
            }
            .container{
              .career-text{
                  h4{
                  
                      padding-left: 1rem !important;
                  }
              }
              .career-list{
                  margin: 20px 25px;
              }
              }
              .friendly-service{
                  .row{
                      .quality-repair{
                          margin: 0px !important;
                          margin-left: 0px;
                          margin-right: 0px;
                          padding-bottom: 1rem;
                      }
                      }
                  }
          }
    }