<div class="fixed-button">
  <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
</div>
<!-- ******************************button********************************  -->
<div class="contact">
  <div class="container-fluid banner">
    <div class="service-title">
      <h1>
        Hi Tech Automotive pineville wants to be your<br>
        Preferred auto repair provider
      </h1>
    </div>
    <img src="../../assets/hitech_images/images/slider_3blk.png" alt="">
    <img src="../../assets/hitech_images/images/25_years_Exp.png" alt="" class="img-25y">
  </div>
  <div class="car-services">
    <div class="container-fluid">
      <div class="row bg-color">
        <div class="col-md-4 col-sm-12" style="background-color: #484646;">
          <img src="../../assets/hitech_images/images/car_icon_strip_new.png" class="img-fluid " alt="">
        </div>
        <div class="col-md-8 col-12 book" style="background-color: #484646;">
          <div class="row">
            <div class="col-md-7">
              <h5 class="schappointment">Schedule your Appointment Today</h5>
              <p class="schappointmentp">Get your car serviced with us!</p>
            </div>
            <div class="col-md-5">
              <button class="btn btn-primary booknow">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .............................................  -->
  <div class="contact-us">
    <div class="circle-rotate">
      <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
    </div>
    <div class="crystal">
      <img src="../../assets/hitech_images/images/crystal.png" alt="">
  </div>
    <div class="container">
      <h4>
        Hi Tech Automotive pineville wants to be your
        Preferred auto repair provider
      </h4>
      <p>Customer Satisfaction is our number one prority.We'd love to hear from you with your question or commnets.</p>

    </div>
    <div class="form-details">
      <div class="container">
        <form name="contact" id="contact">
          <h4>Contact us</h4>
          <div>
            <div class="settings">
              <div class="line1 ">
              </div>
              <img src="../../assets/hitech_images/images/setting.png">
              <div class="line2 ">
              </div>
            </div>
          </div>
          <div class="row justify-content-center form-group">
            <div class="col-md-4">
              <label class="font-weight-bold"> Name</label><span class="text-danger">*</span>
              <input type="text" class="form-control"  placeholder="First Name" name="txtfName">
            </div>

            <div class="col-md-4">
              <label class="font-weight-bold lastnamelable" style="margin-bottom: 23px;"> </label>
              <input type="text" class="form-control" id="txtlNmae" placeholder="Last Name" name="txtlNmae">
            </div>
          </div>

          <div class="row justify-content-center form-group">
            <div class="col-md-4">
              <label class="font-weight-bold"> Email</label><span class="text-danger">*</span>
              <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="txtEmail">
            </div>

            <div class="col-md-4">
              <label class="font-weight-bold lastnamelables">Mobile</label><span class="text-danger">*</span>
              <input type="text" class="form-control" id="txtMobile" placeholder="Mobile Number" name="txtMobile"
                maxlength="10">
            </div>
          </div>

          <div class=" row justify-content-center">

            <div class="col-md-8 form-group">
              <label class="font-weight-bold">Message</label><span class="text-danger">*</span>
              <textarea placeholder="Type Here!!!" class="form-control" id="txtMessege" rows="3"
                name="txtMessege"></textarea>
            </div>
          </div>

          <div class="row justify-content-center">
            <button type="submit" style="        background-color: #dc3545;
  color: #fff;
  width: 106px;
  padding: 6px 15px 7px 12px;
  border: none;
" id="btnContact">
              Submit
            </button>
          </div>
          <div id="loading" style="display: none;">
            <img id="loading-image" src="https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif" alt="Loading...">

          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="contact-us-text">
    <div class="container">
      <div class="contact-today">
        <h4>Contact Us Today For Professional Auto Repair</h4>
        <p>If you have any questions, please give us a call or send us a message. We are eager to show you how much
          expertise we have to offer! And remember, for vehicle emergencies or just to schedule a normal appointment,
          call or <a href="#/appointment" class="text-danger"><b>make an appointment</b> </a> here.</p>
      </div>
      <div class="row mt-5">
        <div class="local-auto">
          <h4 class="font-weight-bold text-center mt-3 mb-3 contact_headeing" style="font-size: 26px;">Local Auto Repair
            with Friendly Service</h4>
          <p>We know that you need excellent quality repairs and that you want friendly service. Our staff of highly
            trained service advisors and technicians is here to help. We have a real love for our profession and our
            community, so come see how our local auto repair shops can resolve your questions and meet your auto repair
            and service needs. We are committed to ensuring that your experience with us is fast, affordable, and
            pleasant.</p>

        </div>
      </div>
    </div>

  </div>

</div>