.fixed-button{
    position: relative;
    .btn-fix{
      position: absolute;
      top: 320px;
      right:-75px;
      z-index: 1000;
      position: fixed !important;
      transform: rotate(270deg);
      padding: .5rem 1.6rem;
    }
  }
  // ...........fixed button styles........ 
  .contact{
    .banner{
      position: relative;
      padding: 0px !important;
      margin: 0px !important;
  
      .service-title{
          h1{
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            position: absolute;
            margin-left: 20%;
            top: 300px;
            font-size: 2.5rem;
            word-spacing: .5rem;
          }
      }
      img{
          width: 100%;
          height:650px;
          object-fit: fill;
      }
      .img-25y{
          width: 150px;
          height:150px;
          top: 450px;
          position: absolute;
          left: 150px;
  
      }
  }
}
.car-services {
  .container-fluid {
    padding: 0px !important;
    margin: 0px !important;
    .bg-color {
      // background: #323AD1;
      margin: 0px !important;
      padding: 0px !important;
    }
    .row {
      .book {
        color: white;
        background-image: url("../../assets/hitech_images/images/BLUE\ STRIP.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 1rem;
        h5 {
          padding-left: 4rem;           
          font-family: 'Times New Roman', Times, serif;
        }
        p {
          padding-left: 4rem;
          font-family: 'Poppins', sans-serif;

        }
        .booknow {
          padding: 5px 10px;
          background-color: #ffffff;
          color: black;
        }
      }
    }
  }
}
.auto-repair1{
  background-image: url('../../assets/hitech_images/images/pattern.png');
  padding: 15px;
  border: 2px solid grey;
  .container{
    h4{
      color: #323ad1;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 20px;
      font-size: 25px !important;
      font-weight: 600;
    }
    .settings {
      .line1 {
        margin-left: 43%;
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 2px;
        width: 5%;
        margin-top: -10px;
        left: 42%;
        display: inline-block;
      }
      .line2 {
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 2px;
        width: 5%;
        top: -5px;
        left: 43%;
        display: inline-block;
        margin-left: 0%;
      }
    }
  }
}
.special-text{
  .circle-rotate{
    position: relative;
    img{
      position: absolute;
      top: 100px;
      width:108px ;
      height:128px ;
      
      animation: mymove 10s infinite;
    }
    .rotate {
    }
    
    @keyframes mymove {
      50% {transform: rotate(360deg);}
    }
  }
  .crystal{
    position: relative;
    img{
      animation: rotation  infinite;
      position: absolute;
      top: 800px;
      width:108px ;
      height:128px ;
      animation: mymove 10s infinite;

    }
  }
  .container{
    .special-title{
      h4{
        color: #323ad1;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 20px;
        font-size: 25px !important;
        font-weight: 600;

      }
      .three-coupon{
        img{
          width: 500px;
          height: 210px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}