<div class="fixed-button">
    <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
  </div>
  <!-- ******************************button********************************  -->
  <div class="contact">
    <div class="container-fluid banner">
      <img src="../../assets/hitech_images/images/coupon_height550.png" alt="">
    </div>
    <div class="car-services">
      <div class="container-fluid">
      <div class="row bg-color">
          <div class="col-md-4" style="background-color: #484646;">
              <img src="../../assets/hitech_images/images/car_icon_strip_new.png" class="img-fluid " alt="">
          </div>
          <div class="col-md-8 book" style="background-color: #484646;">
              <div class="row">
                  <div class="col-md-7">
                      <h5 class="schappointment">Schedule your Appointment Today</h5>
                      <p class="schappointmentp">Get your car serviced with us!</p>
                  </div>
                  <div class="col-md-5">
                      <button class="btn btn-primary booknow">Book Now</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
    <!-- .............................................  -->
    <div class="special-text">
      <div class="circle-rotate">
        <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
      </div>
      <div class="crystal">
        <img src="../../assets/hitech_images/images/crystal.png" alt="">
    </div>
      <div class="container">
        <div class="special-title">
          <h4>Keep Car repair costs down with Hi Tech Automotive Pineville</h4>
          <p>Your Hi Tech Automotive Pineville team in Pineville is always working to save you money. We do this by setting reasonable rates and<br> managing our time well every day. But we also try to feature great money saving specials! Check back each month for a new way to<br> keep your auto repair costs low.</p>
          <div class="three-coupon text-center">
              <img src="../../assets/hitech_images/images/Coupon1.png" width="100%" class="img-fluid">
              <br>
              <br>
              <img src="../../assets/hitech_images/images/Coupon2.png" width="100%" class="img-fluid">
              <br>
              <br>
              <img src="../../assets/hitech_images/images/Coupon3.png" width="100%" class="img-fluid">
          </div>

      </div>
      <div >
        <h4 style="     color: #323ad1;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-size: 25px !important;
        font-weight: 600;">Stay ahead of the auto repair cost game with Hi Tech Automotive Pineville serving in Pineville, Charlotte Metro Area </h4>
        <p>The "Specials" section here at Hi Tech Automotive Pineville is designed to do more than advertise our great deals. It also provides you<br> with the information you can use as you maintain and repair your vehicle for a longer, healthier life. Have questions about our specials?<br> Reach out to get the answers you need from a friendly member of our auto repair team.</p>
    </div>
    <div>
        <h4 style="     color: #323ad1;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-size: 25px !important;
        font-weight: 600;">Keeping the cost of car repairs down</h4>
        <p>At Hi Tech Automotive Pineville, we strive to keep our customers loyal and happy-and that means keeping them out of the shop as much<br>  as possible! How can you keep the cost of car repairs down? Here is our expert advice:</p>
        <ul>

            <li>Always do your factory recommended maintenance</li>
            <li>Don't put off repairs which could lead to additional, more expensive repairs</li>
            <li>Ask our service professionals for advice and for service options</li>
            <li>Check on things like tire pressure and inflate immediately as needed</li>
            <li>Combine errands and avoid extra trips you don't need to take</li>

        </ul>
    </div>
      </div>
    </div>
    <div class="auto-repair1">
      <div class="container">
          <h4 style="text-align:center;">About auto repair cost Specials at Hi Tech Automotive Pineville</h4>
          <div class="settings">
              <div class="line1 ">
              </div>
              <img src="../../assets/hitech_images/images/setting.png">
              <div class="line2 ">
              </div>
          </div>
          <p>At Hi Tech Automotive Pineville we work hard to help your car 
            repair costs stay low, and we are dedicated to your savings. 
            To save more on car repair prices, check here every month fo
            r our auto service specials and coupons we offer. Whether 
            you need a basic oil change or your check engine light is 
            on, it's very likely that watching our "specials" page ca
            n benefit you.</p>
            <p>To learn more about our variety of services, our specials,
               and coupons, or just to find out more, give us a call
                at <a href="tel:7048895289" class="text-danger"><b>(704) 889-5289</b> </a> . We can't wait to show you just how easy, fast, and a
              ffordable keeping your vehicle in top shape can be!</p>
      </div>
  </div>