.fixed-button{
  position: relative;
  .btn-fix{
    position: absolute;
    top: 320px;
    right:-75px;
    z-index: 1000;
    position: fixed !important;
    transform: rotate(270deg);
    padding: .5rem 1.6rem;
  }
}
// .................button fixed.......... 
.appointment{
  .circle-rotate{
    position: relative;
    img{
      position: absolute;
      top: 200px;
      width:108px ;
      height:128px ;
      animation: mymove 10s infinite;
    }
    .rotate {
    }
    
    @keyframes mymove {
      50% {transform: rotate(360deg);}
    }
  }
  .crystal{
    position: relative;
    img{
      animation: rotation  infinite;
      position: absolute;
      top: 800px;
      width:108px ;
      height:128px ;
      animation: mymove 10s infinite;

    }
  }
    .banner{
        position: relative;
        padding: 0px !important;
        margin: 0px !important;

        .service-title{
            // color: rgb(255, 255, 255);
            // font-family: 'Calistoga';
            // font-weight:bolder;
            // position: absolute;
            // margin-left: 20%;
            // top: 300px;
            // font-size: 3vw;
            h1{
              color: #fff;
              font-family: 'Times New Roman', Times, serif;
              font-weight: 600;
              position: absolute;
              margin-left: 20%;
              top: 300px;
              font-size: 2.5rem;
              word-spacing: .5rem;
            }
        }
        img{
            width: 100%;
            height:650px;
            object-fit: fill;
        }
        .img-25y{
            width: 150px;
            height:150px;
            top: 450px;
            position: absolute;
            left: 150px;
    
        }
    }
    // ............................ 
    .car-services {
      font-family: 'Poppins', sans-serif;
        .container-fluid {
          padding: 0px !important;
          margin: 0px !important;
          .bg-color {
            // background: #323AD1;
            margin: 0px !important;
            padding: 0px !important;
          }
          .row {
            .book {
              color: white;
              background-image: url("../../assets/hitech_images/images/BLUE\ STRIP.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              padding-top: 1rem;
              h5 {
                padding-left: 4rem;
                font-family: 'Times New Roman', Times, serif;

              }
              p {
                padding-left: 4rem;
                font-family: 'Poppins', sans-serif;
              }
              .booknow {
                padding: 5px 10px;
                background-color: #ffffff;
                color: black;
              }
            }
          }
        }
      }
}
// ............form styles ..........
.req-appointment{
  font-family: 'Times New Roman', Times, serif;

    .container{
      .automotive{
        .app-title{
          h4{
            margin-top: 2rem !important;
            font-size: 40px;
            span{
            }
          }
        }
        .settings{
          .line1{
              margin-left: 43%;
              border: 1px solid grey;
              border-radius: 5px;
              margin-bottom: 2px;
              width: 5%;
              margin-top: -10px;
              left: 42%;
              display: inline-block;
          }
          .line2{
              border: 1px solid grey;
              border-radius: 5px;
              margin-bottom: 2px;
              width: 5%;
              top: -5px;
              left: 43%;
              display: inline-block;
              margin-left: 0%;
          }
      }
      }
            form{
              font-family: 'Times New Roman', Times, serif;
              .form-row{
                  margin-top: 3rem !important;
                    h4{
                        margin-top: 2rem;
                    }
                    .mmy{
                      margin-top: 1rem;
                    }
                    .methodcontact{
                      .form-group{
                        .font-weight-bold{
                 
                        }
                        input{
                          margin:2rem 2rem;
                        }
                      }
                    }
                    .Vehicle{
                     label{
                      font-weight:bolder;
                      margin-bottom: 2rem !important;

                     }
                    }
                    .Serv-request{
                      margin-top: 1rem;
                    }
                    button{
                      padding: 6px 15px 7px 12px;
                       border: none;
                       border-radius:5px;
                       margin-left:35rem ;
                       margin-top: 2rem !important;
                       margin-bottom: 2rem;
                    }
            }
        
    }
} 
}
.appointment-text{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
    h4{
      color: #323ad1;
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px !important;
      font-weight: 00;
}
}
.contact-us{
  background-image: url('../../assets/hitech_images/images/pattern.png');
  padding: 15px;
  border: 2px solid grey;
  .auto-repair{
    h4{
      color: #323ad1;
      font-family: 'Times New Roman', Times, serif;
       font-weight: 600;
      font-size: 25px !important;
      padding-top: 1rem;
    }
    .settings{
      .line1{
          margin-left: 43%;
          border: 1px solid grey;
          border-radius: 5px;
          margin-bottom: 2px;
          width: 5%;
          margin-top: -10px;
          left: 42%;
          display: inline-block;
      }
      .line2{
          border: 1px solid grey;
          border-radius: 5px;
          margin-bottom: 2px;
          width: 5%;
          top: -5px;
          left: 43%;
          display: inline-block;
          margin-left: 0%;
      }
  }
  p{
    font-family: 'Poppins', sans-serif;
   
    font-size: 14px;
    line-height: 25px;
    // padding-top: 2rem;
  }
  } 
}


      // .........MEDIA QUERIES............ 
  // ...........Media Query ........
  // ...........MOBILE RESP ........
  @media screen and (min-width: 320px) and (max-width: 480px){
    .appointment{
      .fixed-button{
        .btn-fix{
          right:-60px;
        }
      }
      .banner{
        .service-title{
          font-size: 16px;
          top: 100px;
          left: 0px;
          h1{
            font-size: 10px !important;
            top: 80px;
            left: 30px;
            margin-left: 0px;

          }
        }
        img{
          width: 100%;
          height: 220px !important;
        }
        .img-25y{
          width: 50px;
          height: 50px !important;
          top: 150px;
          left: 10px;
        }
      }
      .car-services {
        .container-fluid {
          .row {
            .book {
              background-image: none;
              background-color: blue !important;
              h5 {
                padding-left: 0rem;
                font-size: 12px;
              }
              p {
                padding-left: 0rem;
              }
              .booknow {
                margin: 10px 5px;
              }
            }
          }
        }
      }
      .text-services{
        .text-content{
         padding: 30px;
        }
      }
      .req-appointment{
        .container{
          form{
            button{
              margin-left: 0px;
            }
          }
 
        }
      }
    }
      }
      // .............Tablet..................... 
      @media screen and (min-width: 481px) and (max-width: 768px){
        .customer-reviews{
          .banner{
            .service-title{
              font-size: 16px;
              top: 100px;
              left: 0px;
            }
            img{
              width: 100%;
              height: 220px !important;
            }
          }
          .car-services {
            .container-fluid {
              .row {
                .book {
                  background-image: none;
                  background-color: blue !important;
                  h5 {
                    padding-left: 0rem;
                    font-size: 12px;
                  }
                  p {
                    padding-left: 0rem;
                  }
                  .booknow {
                    margin: 10px 5px;
                  }
                }
              }
            }
          }
          .text-services{
            .text-content{
             padding: 30px;
            }
          }
        }
      }
    // ...............laptop................. 
    @media screen and (min-width: 769px) and (max-width: 1024px){
      .customer-reviews{
        .banner{
          .service-title{
            font-size: 16px;
            top: 100px;
            left: 0px;
          }
          img{
            width: 100%;
            height: 220px !important;
          }
        }
        .car-services {
          .container-fluid {
            .row {
              .book {
                background-image: none;
                background-color: blue !important;
                h5 {
                  padding-left: 0rem;
                  font-size: 12px;
                }
                p {
                  padding-left: 0rem;
                }
                .booknow {
                  margin: 10px 5px;
                }
              }
            }
          }
        }
        .text-services{
          .text-content{
           padding: 30px;
          }
        }
      }
    }