<div class="fixed-button">
    <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
  </div>
<!-- **************************************************************  -->
<div class="appointment">
<div class="container-fluid banner">
    <div class="service-title">
        <h1>
            Hi Tech Automotive pineville wants to be your<br>
            Preferred auto repair provider
        </h1>
    </div>
    <img src="../../assets/hitech_images/images/slider_3blk.png" alt="">
    <img src="../../assets/hitech_images/images/25_years_Exp.png" alt="" class="img-25y">
</div>
<!-- ..............................booknow...............................  -->
<div class="car-services">
    <div class="container-fluid">
    <div class="row bg-color">
        <div class="col-md-4 col-sm-12" style="background-color: #484646;">
            <img src="../../assets/hitech_images/images/car_icon_strip_new.png" class="img-fluid " alt="">
        </div>
        <div class="col-md-8 col-12 book" style="background-color: #484646;">
            <div class="row">
                <div class="col-md-7">
                    <h5 class="schappointment">Schedule your Appointment Today</h5>
                    <p class="schappointmentp">Get your car serviced with us!</p>
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary booknow">Book Now</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
<div class="req-appointment">
    <div class="circle-rotate">
        <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
      </div>
      <div class="crystal">
        <img src="../../assets/hitech_images/images/crystal.png" alt="">

    </div>
    <div class="container">
        <div class="automotive">
            <div class=" text-center app-title">
                <h4 class="font-weight-bold text-center text-danger">
                    <span>
                        REQUEST APPOINTMENT
                    </span>
                </h4>
            </div>
            <div class="settings">
                <div class="line1 ">
                </div>
                <img src="../../assets/hitech_images/images/setting.png">
                <div class="line2 ">
                </div>
            </div>
        </div>
        <form>
        <div class="form-row">
            <div class="row justify-content-center">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Name <span style="color: red;">*</span></label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="First">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputPassword4"></label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Last">
                  </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Mobile</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Mobile Number">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputPassword4">Email</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
                  </div>
            </div>
            <div class="row justify-content-center text-center">
                <label for="inputPassword4">Vehicle Type <span style="color: red;">*</span> </label>

                <div class="form-group col-md-2 mmy">
                    <select class="form-control" >
                        <option value="">Make</option>
                        <option value="1">BMW</option>
                        <option value="2">KIA</option>
                        <option value="3">HONDA</option>
                        <option value="4">TOYOTA</option>
                        <option value="5">Audi</option>
                        <option value="6">Porsche</option>
                        <option value="7">Mini</option>
                        <option value="8">Ford</option>
                        <option value="9">Chevrolet</option>
                        <option value="10">Acura</option>
                        <option value="11">Buick</option>
                        <option value="12">Cadillac</option>
                        <option value="13">Chrysler</option>
                        <option value="14">Jeep</option>
                        <option value="15">Dodge</option>
                        <option value="16">Ram</option>
                        <option value="17">Hyundai</option>
                        <option value="18">GMC</option>
                        <option value="19">Infiniti</option>
                        <option value="20">Lexus</option>
                        <option value="21">Lincoln</option>
                        <option value="22">Mazda</option>
                        <option value="23">Mercedes</option>
                        <option value="24">Mistubishi</option>
                        <option value="25">Nissan</option>
                        <option value="26">Subaru</option>
                        <option value="27">Volkswagen</option>
                        <option value="28">Volvo</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2 mmy">
                    <select class="form-control" >
                        <option value="">Model</option>
                    </select>
                   
                  </div>
                  <div class="form-group col-md-2 mmy">
                    <select class="form-control">
                        <option value="">year</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>

                    </select>
                  </div>
            </div>
            <div class="row justify-content-center methodcontact">
                    <div class="col-md-6 form-group">
                        <label class="font-weight-bold">Preferred Contact Method:</label>
                        <label class="radio-inline ml-5">
                            <input class="mr-2 " type="radio" value="Any" name="contactType"><b>Any</b>
                        </label>
                        <label class="radio-inline ml-5">
                            <input class="mr-2 " type="radio" value="Mobile" name="contactType"><b>Mobile</b>
                        </label>
                        <label class="radio-inline ml-5">
                            <input class="mr-2 " type="radio" value="Email" name="contactType"><b>Email</b>
                        </label>
                    </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 offset-2 Vehicle">
                    <label class="font-weight-bold">What Time Would You Like to Drop Off Your Vehicle? </label>
                </div>
                <div class="col-md-4">
                    <!-- <p style="color:#dc3545;">Hours of Operation</p> -->
                </div>
            </div>
            <div class="row justify-content-center TimeZone ">
                <div class="col-md-3 form-group datepicker">
                    <input type="date" class="form-control" id="dropDate" name="dropDate" min="2021-06-03">
                    <small>Date</small>
                </div>
                <div class="col-md-3 form-group">
                    <input class="form-control" id="dropTime" name="dropTime" type="time" min="07:30" max="18:00" required="">
                    <small>Time betWeen 7:30 AM - 6:00 PM</small>
                </div>
            </div>
            <div class="row justify-content-center Serv-request">
                <div class="col-md-6 form-group">
                    <label class="font-weight-bold">Service Requested <span class="text-danger">*</span></label>
                    <textarea placeholder="Type Here!!!" class="form-control" id="txtService" rows="3" name="txtService"></textarea>
                    <small class="blue-text">Include any comments / special requests</small>
                </div>
            </div>
            <button  type="button" class=" btn-danger  text-white mt-2 text-center ">Request Appointment</button>
        </div>
      </form>
</div>
</div>
<!-- ..................text---------------  -->
<div class="appointment-text container">
    <h4 class="font-weight-bold text-center mb-3">Auto Repair Estimates in Hi-Tech Automotive</h4>
    <p>At Hi Tech Automotive Pineville we are always willing to do a thorough asse
        ssment of your vehicle. In fact, we love the chance to provide customers wit
        h estimates because it allows us to show them how much money we can save the
        m! For an honest,up-front auto repair estimate, trust Hi Tech Automotive Pineville.</p>
        <h4 class="font-weight-bold mt-5">
            Eliminate The Guesswork With Car Repair Estimates
        </h4>
        <p>No one likes to agree to a repair on something as essential as a vehicle without knowing what's coming. At Hi Tech Automotive Pineville we want you to feel absolutely comfortable and confident leaving your car with us. That's why we hope you'll stop in for an auto repair estimate whenever you're concerned about your vehicle's <a href="#/services" class="text-danger"><b>maintenance or repair needs.</b></a></p>
        <h4 class="font-weight-bold mt-5">
            Talking To An Automotive Professional About Your Auto Repair Estimate
        </h4>
        <p>We want to talk to you about your vehicle, and we definitely want to listen to what you have to say. After all, you're the expert when it comes to what seems wrong with your car. When you come in for your auto repair estimate, be sure to tell us about anything you have observed-seen, heard, or felt-that is different. It's okay if you're not sure what's wrong; just tell us what doesn't seem right.</p>
        <p>If you get a chance, jot down some notes before you come in. What is your car doing (or not doing)? How is it handling? Are there any new noises you've been hearing? How is your vehicle's performance-is it braking well and speeding up like it should? How do road conditions, weather conditions, and other factors affect your car? Have you done any recent maintenance? Have you missed any routine maintenance? You can expect a thorough inspection from us, and the more information you have for us, the better. In fact, you can save diagnostic time pretty effectively by giving us all of the details!</p>
        <h4 class="font-weight-bold mt-5">
            Auto Repair Estimates That You Can Trust
        </h4>
        <p>
            Many consumers worry about bringing their vehicle in for repair. Will the mechanic listen to me? Will I be able to explain what's going on in a way that makes sense? Will my vehicle get the full attention of the technician? Will they spend the time they should?
        </p>
        <p>
            The good news is this: we are even more worried about this problem than you are! Lack of confidence in our profession as a whole hurts our business and our family team of professionals. You can trust the auto repair estimate you get from us. We stake our reputations on our conduct each day! We are here to give you a square deal on car repair estimates.
        </p>
</div>
<!-- .............................contact-us............................  -->
<div class="contact-us">
    <div class="auto-repair">
        <h4 style="text-align:center;">Contact Us Today for an Auto Repair Estimate</h4>
        <div class="settings">
            <div class="line1 ">
            </div>
            <img src="../../assets/hitech_images/images/setting.png">
            <div class="line2 ">
            </div>
        </div>
        <p style=" text-align: center;">
            We are ready to get to the heart of any problems with your vehicle's performance. <a href="#/contact" class="text-danger"><b>Stop by</b> </a>for a thorough auto repair estimate that includes a detailed inspection, cost and <br> timeframe details. We offer some of the
            <a href="#/specials" class="text-danger"><b>best rates in the business.</b></a> We take pride in our auto repair estimates in pineville, so stop by and find out why! Schedule an <br> appointment today so we can earn your trust and your business.
        </p>
    </div>
</div>
</div>
