<div class="fixed-button">
    <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
  </div>
<!-- ***************************************************  -->
<div class="services">
    <div class="container-fluid banner">
        <h1 class="service-title">
            Our Services
        </h1>
        <img src="../../assets/hitech_images/images/slider_3_services.png" class="img-fluid" alt="">
    </div>

<!-- .........booknow................  -->
<div class="car-services">
    <div class="container-fluid">
    <div class="row bg-color">
        <div class="col-md-4" style="background-color: #484646;">
            <img src="../../assets/hitech_images/images/car_icon_strip_new.png" class="img-fluid " alt="">
        </div>
        <div class="col-md-8 book" style="background-color: #484646;">
            <div class="row">
                <div class="col-md-7">
                    <h5 class="schappointment">Schedule your Appointment Today</h5>
                    <p class="schappointmentp">Get your car serviced with us!</p>
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary booknow">Book Now</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  <div class="text-services">
      <div class="circle-rotate">
          <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
        </div>
        <div class="crystal">
          <img src="../../assets/hitech_images/images/crystal.png" alt="">

      </div>
      <div class="container text-content">
          <div class="text1">
            <p style="text-align: center;margin-top: 20px;">At Hi Tech Automotive Pineville, you and your confidence are the most important piece of the puzzle. We provide a<br>wide range of automotive repair services for your convenience. And remember, we want to keep you in our <a href="#/reviews" class="text-danger"><b>loyal<br>customer family</b></a>. If you don't see the service you're looking for, just ask!</p>

          </div>
          <!-- ....................Standard Maintenance Auto Service.................  -->
          <div>
            <h4>Standard Maintenance Auto Service</h4>
            <p>
                It's a fact: regular, quality maintenance extends the life of your vehicle. It also gives you the peace of mind you need.
                Whether you're looking for the basics like factory scheduled maintenance or 30k/60k/90k/120k mile services, or something more
                specific like computer diagnostics or safety and emissions inspections, we've got you covered. Brake repair, shocks, struts,
                suspension and steering are all part of our standard maintenance auto service. When it comes to maintenance and auto service
                in Pineville, we want to be your number one choice.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Factory Scheduled Maintenance</li>
                        <li>30k/60k/90k/120k Mile Services</li>
                        <li>Computer Diagnostics</li>
                        <li>Oil Changes</li>
                        <li>Tune Ups</li>
                        <li>Filter Replacements</li>
                        <li>Safety &amp; Emissions Inspections</li>
                        <li>Windshield Wiper Blades</li>
    
                    </ul>
    
                </div>
                <div class="col-md-8">
                    <ul>
    
                        <li>Fluid Services</li>
                        <li>Trip Inspections</li>
                        <li>Maintenance Inspections</li>
                        <li>Check Engine Light Diagnostics &amp; Repair</li>
                        <li>Brake Repair &amp; Antilock Braking System (ABS) Repair</li>
                        <li>Shocks &amp; Struts Repair</li>
                        <li>Chassis &amp; Suspension Repair</li>
                        <li>Suspension &amp; Steering Repair</li>
    
    
                    </ul>
                </div>
            </div>
        </div>
        <!-- ...................Text ENgine Auto Services/....................  -->
        <div>
            <div style="margin:10px;">
                <h4>Engine Auto Service</h4>
                <p>
                    When that check engine light comes on, it's hard not to feel annoyed or even worried. We know how you feel, and we are here to help!
                    At Hi Tech Automotive Pineville we offer a thorough engine performance check, as well as engine repair and engine replacement services.
                    We do our best to save you money and time with Pineville automotive repair services like drivability diagnostics and fuel injection
                    repair and service. Our skilled professionals got into this business because they love vehicles: they want your car to be running like
                    new and our engine auto services will make it happen.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Engine Repair</li>
                            <li>Engine Replacement</li>
                            <li>Engine Performance Check</li>
                            <li>Belt Replacement</li>
                            <li>Hose Replacement</li>
                            <li>Cooling System Repair</li>
    
    
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li>Radiator Repair &amp; Replacement</li>
                            <li>Water Pump Repair &amp; Replacement</li>
                            <li>Drivability Diagnostics &amp; Repair</li>
                            <li>Fuel Injection Repair &amp; Service</li>
                            <li>Fuel System Repair &amp; Maintenance</li>
                            <li>Ignition System Repair &amp; Maintenance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- .....................................  -->
        <div>
            <h4>Heating and Air Conditioner Repair</h4>
            <p>For the best cooling and heating auto repair service in Pineville, trust Hi Tech Automotive Pineville. We offer a full range of heating and cooling system diagnostics, as well as heating system and air conditioning repair and service. Our trained technicians are also masters of belt, compressor, and evaporator repair and replacement.</p>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Heating &amp; Cooling System Diagnostics</li>
                        <li>Auto Air Conditioning Repair &amp; Service</li>
                        <li>Heating System Repair &amp; Service</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul>
    
                        <li>Belt Repair &amp; Replacement</li>
                        <li>Compressor Repair &amp; Replacement</li>
                        <li>Evaporator Repair &amp; Replacement</li>
    
    
                    </ul>
                </div>
            </div>
        </div>
        <!-- ......................................  -->
        <div>
            <h4>Auto Electrical Services</h4>
            <p>Hi Tech Automotive Pineville provides the best electrical auto service in Pineville, hands down. Whether you've lost the "power" in your power steering or your vehicle is ready for power lock repair, we want to be your top choice. From alternators to windows and everything in between, trust Hi Tech Automotive Pineville to provide your Pineville automotive repair services.</p>
    
            <div class="row">
                <div class="col-md-4">
    
                    <ul>
                        <li>Electrical System Diagnostics &amp; Repair</li>
                        <li>Alternator Repair &amp; Replacement</li>
                        <li>Starter Repair &amp; Replacement</li>
                        <li>Windshield Wiper Repair</li>
                        <li>Power Lock Repair</li>
                        <li>Power Antenna Repair</li>
    
    
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li>Power Steering Repair</li>
                        <li>Power Window Repair</li>
                        <li>Power Accessory Repair</li>
                        <li>Light Repair &amp; Bulb Replacements</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ................................................  -->
        <div>
            <h4>Exhaust Services</h4>
            <p>If you're concerned about passing emissions or you already know your exhaust system isn't what it should be, visit Hi Tech Automotive Pineville in Pineville. We offer exhaust repair and replacement, muffler repair and replacement, and tailpipe repair and replacement.</p>
            <ul>
                <li>Exhaust Repair &amp; Replacement</li>
                <li>Muffler Repair &amp; Replacement</li>
                <li>Tailpipe Repair &amp; Replacement</li>
            </ul>
        </div>
        <!-- ........................................................  -->
        <div>
            <h4>Alignment Services</h4>
            <p>A vehicle alignment service helps your tires last longer, can improve gas mileage, and will improve vehicle handling to give you and your passengers a smoother ride. Hi Tech Automotive Pineville will provide you with the best alignment service so you can keep your vehicle on the road longer.</p>
            <ul>
                <li>Alignment Service</li>
                <li>Struts, Shocks &amp; Suspension Repair &amp; Service</li>
            </ul>
        </div>
      </div>
  </div>
  <!-- ........................................  -->
  <div class="contact-us">
    <div class="auto-repair">
        <h4 style="text-align:center;">Complete Auto Service</h4>
        <div class="settings">
            <div class="line1 ">
            </div>
            <img src="../../assets/hitech_images/images/setting.png">
            <div class="line2 ">
            </div>
        </div>
        <p style=" text-align: center;">
            We are ready to get to the heart of any problems with your vehicle's performance. <a href="#/contact" class="text-danger"><b>Stop by</b> </a>for a thorough auto repair estimate that includes a detailed inspection, cost and <br> timeframe details. We offer some of the
            <a href="#/specials" class="text-danger"><b>best rates in the business.</b></a> We take pride in our auto repair estimates in pineville, so stop by and find out why! Schedule an <br> appointment today so we can earn your trust and your business.
        </p>
    </div>
</div>
  </div>