<div class="icons-bar">
    <div class="container">
        <div class="row align-set">
            <div class="col-md-5 col-5">
                <div class="phone-number">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="num"> (704)889-5289</span>
                </div>
            </div>
            <div class="col-md-7 col-7">
                <div class="socail-icons">
                  <a href="https://twitter.com/HiTechAutoNC"  target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true" title="twitter"></i>
                  </a>
                  <a href="https://www.mtacpro.com/allreviews?ClientId=gDvNaRFXLdrEYUwahVz46g%3D%3D"  target="_blank">
                    <img src="../../assets/hitech_images/images/M-03.png" alt="" width="16" height="16" title="Mtoc">
                  </a>
                  <a href="https://www.facebook.com/HiTechAutoNC"  target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true" title="facebook"></i>
                  </a>
                  <a href="https://www.yelp.com/biz/hi-tech-automotive-pineville"  target="_blank">
                    <i class="fa fa-yelp" aria-hidden="true" title="yelp"></i>
                  </a>
                  <a href="https://local.yahoo.com/info-13216363-hitech-automtv-pineville-incorporated-pineville"  target="_blank">
                    <img src="../../assets/hitech_images/images/yahoo-logo.png" title="Yahoo" alt="">
  
                  </a>
                  <a href="https://www.google.com/search?q=Hi+Tech+Automotive+Pineville&rlz=1C1GCEU_enUS819US819&oq=Hi+Tech+Automotive+Pineville&aqs=chrome..69i57j69i60.31j0j4&sourceid=chrome&ie=UTF-8"  target="_blank">
                    <i class="fa fa-google-plus" aria-hidden="true" title="google+"></i>
                  </a>
                    <button class="top-btn">make an appointment</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- .....................icons bar completd*********************************** -->
  <div class="menu-bar">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><img src="../../assets/hitech_images/images/logo600.png" alt="" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
             aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ><i class="fa fa-bars"  aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" >
              <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home </a>
                </li>
                <li class="nav-item current">
                  <a class="nav-link" href="#" routerLink="/services" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/appointment" routerLinkActive="active">Appointment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/reviews" routerLinkActive="active">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/careers" routerLinkActive="active">Careers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-primary btn-sm btn1" routerLink="special" routerLinkActive="active">Special's</button>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-success btn-sm  btn2">News&Tios</button>
                  </li>
              </ul>
            </div>
          </nav>
    </div>
  </div>
  <!-- **************Header Section Completed***************** -->