<div class="fixed-button">
    <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
  </div>
  <!-- **************************button*********************************  -->
<div class="customer-reviews">
    <div class="container-fluid banner">
        <h1 class="service-title">
            Customer Reviews
        </h1>
        <img src="../../assets/hitech_images/images/review slider 5.png" alt="">
    </div>
    <div class="car-services">
        <div class="container-fluid">
            <div class="row bg-color">
                <div class="col-md-4 col-sm-12" style="background-color: #484646;">
                    <img src="../../assets/hitech_images/images/car_icon_strip_new.png" class="img-fluid " alt="">
                </div>
                <div class="col-md-8 col-12 book" style="background-color: #484646;">
                    <div class="row">
                        <div class="col-md-7">
                            <h5 class="schappointment">Schedule your Appointment Today</h5>
                            <p class="schappointmentp">Get your car serviced with us!</p>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-primary booknow">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ..........booknow completed............  -->
    <!-- ...........reviews text...........  -->
    <div class="reviews-text">
        <div class="circle-rotate">
            <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
          </div>
          <div class="crystal">
            <img src="../../assets/hitech_images/images/crystal.png" alt="">
    
        </div>
        <div class="container">
            <h4>Car Service You Can Trust</h4>
            <p>At Hi Tech Automotive Pineville we provide each of our customers with reliable, <a href="#/services"
                    class="text-danger" data-id="standardservices"><b>trustworthy car service</b></a>. We know that each
                time we work on your car our reputation in the community is on the line, and we act accordingly. This is
                why we have such loyal, enthusiastic customers! Let our auto repair professionals show you that you can
                trust Hi Tech Automotive Pineville.</p>
            <div class="reviews reviews_two sectionmargin">
                <h4>Customer Loyalty is Our Number One Priority</h4>
                <p>The purpose of our business is to repair vehicles quickly, skillfully and honestly. We are here to
                    help you make informed choices that work for your budget by providing expert advice. We are grateful
                    for your business and we do everything we can to keep it. Our customers trust us to keep them on the
                    road; come see why.</p>
            </div>
        </div>
    </div>
    <div class="auto-repair1">
        <div class="container">
            <h4 style="text-align:center;">The 3Rs of Auto Repair</h4>
            <div class="settings">
                <div class="line1 ">
                </div>
                <img src="../../assets/hitech_images/images/setting.png">
                <div class="line2 ">
                </div>
            </div>

            <p>Great auto repair provides you with the three Rs: reliability, responsiveness, and the right prices.
                Here's how we do it:</p>
            <p><b>Reliability.</b> Our team of skilled auto repair professionals gives you reliable service. You can
                count on us to keep your vehicle running great. Our goal is to keep you coming back to us year after
                year, and each time you do, we work as hard as we can to make your experience a pleasant one.</p>
            <p><b>Responsiveness.</b> When you talk, we listen. Too many consumers feel that car service shops are
                dishonest. Only by responding to your questions in a patient, thorough way can you feel totally at home
                with our work.</p>
            <p><b>Right prices.</b> Your vehicle is one of your most <a class="text-danger"
                    href="#/specials"><b>important investments</b></a>. When your vehicle doesn't work, your livelihood
                and personal life can be hurt. Our trained team will take care of your vehicle like it's our own.</p>
            <p>See what members of our family of customers say about our services above and <a href="#/appointment"
                    class="text-danger"><b>make an appointment</b></a> today!</p>
        </div>
    </div>
</div>