<div class="fixed-button">
  <button id="button1" class="btn btn-sm btn-danger btn-fix">Make an appointment</button>
</div>
<!-- *************Carousel section************************** -->
<div class="container-fluid">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 0"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="vedio-sizes">
        <video width="100%" [autoplay]=true controls [muted]=true>
          <source src="../../assets/Final video.mp4" type="video/mp4">
      </video>
      </div>
      <h1 class="banner_headingone" style="text-align: center;">
        Revive and Reinvent your <br>
        ride with us
      </h1>
      <h3 class="banner_headingtwo"> NC State Inspection.Diagnostics.Repair &amp; Service</h3>
    </div>
    <div class="carousel-item">
      <img src="../../assets/hitech_images/images/coupon_height550.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/hitech_images/images/store_2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/hitech_images/images/Truck_Slider.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<!-- *************End Carousel section************************** -->
<!-- *******************Our Brands Section*************************** -->
<div class="car-services">
  <div class="container-fluid">
  <div class="row bg-color">
      <div class="col-md-4 col-sm-12" style="background-color: #484646;">
          <img src="../../assets/hitech_images/images/car_icon_strip_new.png" class="img-fluid " alt="">
      </div>
      <div class="col-md-8 col-12 book" style="background-color: #484646;">
          <div class="row">
              <div class="col-md-7">
                  <h5 class="schappointment">Schedule your Appointment Today</h5>
                  <p class="schappointmentp">Get your car serviced with us!</p>
              </div>
              <div class="col-md-5">
                  <button class="btn btn-primary booknow">Book Now</button>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<!-- ..........booknow completed............  -->
<!-- ...............logo-slider................  -->
<div class="All-services">
  <h4 class=" text-center">
      We Service all makes and models
      <span>
          <img src="../../assets/hitech_images/images/truck_dieasel.png">
      </span>
  </h4>

  <div class="settings">
      <div class="line1 ">
      </div>
      <img src="../../assets/hitech_images/images/setting.png">
      <div class="line2 ">
      </div>
  </div>
<!-- .....................carousel............  -->
<div class="container">
  <carousel [autoplay]=true [arrows]=false [transitionDuration]="300" [loop]=true [autoplayInterval]="1000">
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/honda.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/hyundai.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/Infiniti.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/jeep.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/kia.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/landrover.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/mazda.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/mini.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/Mitsubishi.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/Audi.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/toyota.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/benz.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/volkswagen.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/subaru.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/nissan.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/volvo.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/gmc.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/acura.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/bmw.png">
      </div>
      <div class="carousel-cell">
          <img src="../../assets/hitech_images/images/lexus.png">
      </div>
  </carousel>  
</div>
<!-- .....................End carousel............  -->
</div>

<!-- *******************END Our Brands Section*************************** -->
<!-- ***************************Automotive Section**************************** -->
<div class="exp">
  <div class="container">
      <div class="automotive">
          <h4 class=" text-center">
               Experience any Terrain
          </h4>
          <div class="settings">
              <div class="line1 ">
              </div>
              <img src="../../assets/hitech_images/images/setting.png">
              <div class="line2 ">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <img src="../../assets/hitech_images/images/carfrctwo.jpg" class="img-fluid car1" alt="">
          </div>
          <div class="col-md-3">
              <img src="../../assets/hitech_images/images/carfrcone.jpg" class="img-fluid car2" alt="">

          </div>
          <div class="col-md-6">
              <p>
                  With over 35 years of automotive Knowledge Hitech Automotive
                  has what you need for your jeep off-roading adventure. We install
                  suspension lift kits, gear installations and more to tackle any trail.
              </p>
          </div>
      </div>
  </div>
</div>

<!-- ***************************ENd Automotive Section**************************** -->
<!-- ******************************About Section*********************** -->
<div class="about">
  <div class="container">
      <h4 class="text-center">Welcome to Hi Tech Automotive Pineville,<br>serving in Pineville, Charlotte Metro Area - NC</h4>
      <div class="settings">
          <div class="line1 ">
          </div>
          <img src="../../assets/hitech_images/images/setting.png">
          <div class="line2 ">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-6 about-img">
              <span class="dotted">
                  <img src="../../assets/hitech_images/images/dotted.png" class="img-fluid" alt="">
              </span>
              <span class="orange1">
                  <img src="../../assets/hitech_images/images/geometric_orange.png" alt="">
              </span>
                  <img src="../../assets/hitech_images/images/about_us.png" class="img-fluid" alt="">
                  <span class="off-org">
                      <img src="../../assets/hitech_images/images/Orange_cr.png" alt="">
                  </span>
          </div>
          <div class="col-md-6 col-sm-6 about-text">
              <p>If you are looking for auto repair in Pineville, Charlotte Metro 
                  Area you have found us. Here at Hi Tech Automotive Pineville we
                   work hard to earn your trust and loyalty. We know how importan
                   t it is to find a Pineville car service you can rely on, so your s
                   atisfaction is our top priority each and every day.</p>
              <p>Here at Hi Tech Automotive Pineville we understand what makes cus
                  tomer service truly outstanding. You will feel the difference ex
                  ceptional customer care makes when you work with us. We know auto
                   repair in Pineville offers you lots of choices, and we aim to pr
                   ovide the kind of caring customer service that will bring you back.</p>
              <p>Our professional automotive service offers you years of combined
                   expertise from our well-trained technicians. We treat our auto 
                   repair professionals well because we value their skill and can-do
                    attitude. We know our team sets us apart, saving you time and money
                    , not to mention worry. When it comes to auto repair in Pineville,
                     we are totally confident that Hi
                   Tech Automotive Pineville is the best option in town!</p>
          </div>
      </div>
  </div>
</div>

<!-- ******************************END About Section*********************** -->
<!-- ***************************Services Section******************************** -->
<div class="services">
  <div class="container">
      <div class="automotive">
          <h4 class=" text-center">
             Our servies
          </h4>
          <div class="settings">
              <div class="line1 ">
              </div>
              <img src="../../assets/hitech_images/images/settingtwo.png">
              <div class="line2 ">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2 col-sm-6">
              <div class="service-img1">
                  <img src="../../assets/hitech_images/images/3.png" alt="">
              </div>
              <p class="service-text">
                  Standard Maintenance <br>
                  Auto Service
              </p>
              <button class="btn btn-danger btn-sm text-center servicebutton">
                  <a href="#/services"> </a><a href="#/services" style="color:#ffffff;"> read more</a>
              </button>
          </div>
          <div class="col-md-2 col-sm-6">
              <div class="service-img2">
                  <img src="../../assets/hitech_images/images/5.png" alt="">
              </div>
              <p class="service-text">
                  Engine
                  Auto Service
              </p>
              <button class="btn btn-danger btn-sm text-center servicebutton">
                  <a href="#/services"> </a><a href="#/services" style="color:#ffffff;"> read more</a>
              </button>
          </div>
          <div class="col-md-2 col-sm-6">
              <div class="service-img1">
                  <img src="../../assets/hitech_images/images/2.png" alt="">
              </div>
              <p class="service-text">
                  Auto Electrical Services
              </p>
              <button class="btn btn-danger btn-sm text-center servicebutton">
                  <a href="#/services"> </a><a href="#/services" style="color:#ffffff;"> read more</a>
              </button>
          </div>
          <div class="col-md-2 col-sm-6">
              <div class="service-img2">
                  <img src="../../assets/hitech_images/images/4.png" alt="">
              </div>
              <p class="service-text">
                  Alignment Service
              </p>
              <button class="btn btn-danger btn-sm text-center servicebutton">
                  <a href="#/services"> </a><a href="#/services" style="color:#ffffff;"> read more</a>
              </button>
          </div>
          <div class="col-md-2 col-sm-6">
              <div class="service-img1">
                  <img src="../../assets/hitech_images/images/1.png" alt="">
              </div>
              <p class="service-text">
                  Air Conditioner Repair
              </p>
              <button class="btn btn-danger btn-sm text-center servicebutton">
                  <a href="#/services"> </a><a href="#/services" style="color:#ffffff;"> read more</a>
              </button>
          </div>
          <div class="col-md-2 col-sm-6">
              <div class="service-img2">
                  <img src="../../assets/hitech_images/images/icon_6.png" alt="">
              </div>
              <p class="service-text">
                  Exhaust Service 
              </p>
              <button class="btn btn-danger btn-sm text-center servicebutton">
                  <a href="#/services"> </a><a href="#/services" style="color:#ffffff;"> read more</a>
              </button>
          </div> 
      </div>
  </div>
</div>

<!-- ***************************END Services Section******************************** -->
<!-- *********************************Cartification section************************************* -->
<div class="affiliates">
  <div class="container">
    <div class="automotive">
      <h4 class=" text-center">
        Affiliates &
        <span class="text-danger">Certifications</span>
      </h4>
      <div class="settings">
        <div class="line1 ">
        </div>
        <img src="../../assets/hitech_images/images/setting.png">
        <div class="line2 ">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/hitech_images/images/Technet-newa.png">
      </div>
      <div class="col-md-3">
        <img src="../../assets/hitech_images/images/BG-newa.png">
      </div>
      <div class="col-md-3">
        <img src="../../assets/hitech_images/images/Napa-newa.png">
      </div>
      <div class="col-md-3">
        <img src="../../assets/hitech_images/images/ASE-Certified-Logo-newnew.png" width="180" height="80"
          class="img-fuild">
      </div>
    </div>
    <div class="about-HTech">
      <h4>About Hi-Tech Automotive Pineville, NC </h4>
      <p>
        For years Hi Tech Automotive Pineville has been there for the pe
        ople of Pineville, Charlotte Metro Area. We love what we do, and tha
        t basic fact fuels our business. We are dedicated to our customers
        , and that's why
        they stick with us - the best auto repair Pineville has to offer.
      </p>
      <p>
        Our family of technicians and service staff sees their work here at
        Hi Tech Automotive Pineville as more than a job. It's their vocation and
        livelihood. Each member of our team is invested in your satisfaction.
      </p>
      <p>
        Hi Tech Automotive Pineville was founded on the basic idea that everyone
        deserves respect. It is our mission to treat each person that comes through
        our door with dignity and sensitivity. We believe this attention to detai
        l has paid off by providing us with our loyal, friendly family of custom
        ers. That's what makes Hi Tech Automotive Pineville the best car service
        in Pineville, NC!
      </p>
      <p>Are you ready to experience the best car service available in Pineville,
        Charlotte Metro Area? Please give us
        a call or <a href="#/appointment" class="text-danger"><b> make anappointment</b></a> here.</p>
      <h4>
        Mileage of Hi-Tech Automotive:
      </h4>
      <p style="margin-bottom:45px;">With our hefty experience of
        <a href="#/reviews" class="text-danger"><b>35 years,</b></a>
        We are serving our customers with the most reliable work.
      </p>
      <!-- ...........Car Moving Section..................  -->
      <div class="car-animation">
        <div class="double-datted">
          <div style="border: 1px dotted pink;"> </div>
          <div style="border: 1px dotted pink;"> </div>
        </div>
        <img class="car-run" src="../../assets/hitech_images/images/car_1.png" width="200px" height="200px">
        <div class="row">
          <div class="col-md-4">
            <div class="points">
              <span class="circle1"></span>
            </div>
            <div class="newYork">
              <img src="../../assets/hitech_images/images/cricle_1.png" class="">
              <h5>Brooklyn, New York</h5>
              <p class="year">(1986)</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="points">
              <span class="circle1"></span>
            </div>
            <div class="newYork">
              <img src="../../assets/hitech_images/images/cricle_2.png" class="">
              <h5>Pineville, North Carolina</h5>
              <p class="year">(1986)</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="points">
              <span class="circle1"></span>
            </div>
            <div class="newYork">
              <img src="../../assets/hitech_images/images/25_years_Exp.png" width="184" height="204" class=" img-fluid">
              <h5>The Journey Continues</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- ................End Car Moving....................  -->
      <p>We provide our most sincere effort from pineville to all the way up charlotte metro Area. We take pride in our
        work for servicing super Duty Diesel Light Trucks.</p>
      <h4>
        The Absolute Best Car Service in Pineville, Charlotte Metro Area
      </h4>
      <p>What sets Hi Tech Automotive pineville apart from all of the others in pineville,NC?</p>
      <p><b>Trust:</b> When it comes to auto repair in Pineville, it's all about <a href="#"
          class="text-danger"><b>earning loyalty and trust</b></a> by doing our very best every day. We are determined
        to earn and keep your trust.</p>
      <p><b>Trust:</b> When it comes to auto repair in Pineville, it's all about <a href="#"
          class="text-danger"><b>earning loyalty and trust</b></a> by doing our very best every day. We are determined
        to earn and keep your trust.</p>
      <p><b>Time:</b> We take the time we need to provide you with top quality <a href="#"
          class="text-danger"><b>car service</b></a> in Pineville, and we take the time to talk to you about what that
        means. We listen to you so we understand your needs and goals for your auto repair.</p>
    </div>
  </div>
</div>
<!-- ********************************END*Cartification section************************************* -->

